on init

    export SECONDARY_STORAGE /external_sd

    # ko files for exfat
    insmod /system/lib/modules/exfat_core.ko
    insmod /system/lib/modules/exfat_fs.ko
    
    # Set touchscreen to landscape mode for recovery
    write /sys/devices/virtual/sec/tsp/orientation 6
